body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    width: 100%;
}

.pinkContainer {
    background: url("../images/bg-pattern-intro.svg") no-repeat, linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: left 18% bottom 50%, center;
    background-size: 200%, 100%;
    width: 100%;
    min-height: 57vh;
    border-bottom-left-radius: 90px;
    display:flex;
    flex-direction: column;
}

.pinkContainer .navbar {
    padding: 40px 230px 0px 150px;
    font-weight: 500;
    font-size: 0.9rem;
    color:rgb(223, 223, 223);
    display:flex;
    align-items:center;
}

.pinkContainer .navbar .navMenu {
    padding-left: 4rem;
    display:flex;
}

.pinkContainer .navbar .navMenu .dropdown {
    position: relative;
    padding-right: 2.3rem;
    cursor: pointer;
}

.pinkContainer .navbar .navMenu .dropdown .dropdownContent {
    position: absolute;
    top:20px;
    display:none;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 400;
    color: black;
}

.pinkContainer .navbar .navMenu .dropdown .show {
    display: block !important;
}

.pinkContainer .navbar .login {
    margin-left: auto;
    cursor:pointer;
}

.pinkContainer .navbar .signupButton {
    color:hsl(353, 100%, 62%);
    background-color: white;
    border-radius: 20px;
    padding: 11px 33px;
    border: 1px solid white;
    margin-left: 30px;
    cursor:pointer;
}

.pinkContainer .navbar .signupButton:hover {
    color:white;
    background-color: transparent;
    border: 1px solid white;
}

.pinkContainer .mainTitle {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 3rem;
    align-self: center;
    padding-top: 150px;
}

.pinkContainer .subTitle {
    align-self: center;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    color: white;
    padding-top: 20px;
}

.pinkContainer .CTA {
    align-self: center;
    display: flex;
    margin-top: 45px;
}

.pinkContainer .CTA .startForFree {
    color:hsl(353, 100%, 62%);
    background-color: white;
    border-radius: 20px;
    padding: 11px 23px;
    border: 1px solid white;
    cursor: pointer;
    border: 0px;
}

.pinkContainer .CTA .startForFree:hover {
    background-color:transparent;
    border: 1px solid white;
    color: white;
}

.pinkContainer .CTA .learnMore {
    color:white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 11px 33px;
    margin-left: 20px;
    cursor:pointer;
}

.pinkContainer .CTA .learnMore:hover {
    color:hsl(353, 100%, 62%);
    background-color: white;
}

.topSection {
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(208, 49%, 24%);
    font-weight: 600;
    padding:8rem 10rem;
}

.topSection .mainTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.topSection .card {
    width: 31%;
    align-self: flex-start;
    margin-top: 4rem;
}

.topSection .card .cardTitle {
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
}

.topSection .card .cardContent {
    color: hsl(207, 13%, 34%);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.85;
}

.topSection .illustration {
    position: absolute;
    left: 70%;
    top:63%;
    width: 45%;
}

.midSection {
    background: url("../images/bg-pattern-circles.svg") no-repeat, linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    min-height: 38vh;
    margin-top: 5rem;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    background-position: left -25% top 80%, center;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}

.midSection .phoneImg {
    position: absolute;
    left: 120px;
    top: -60px;
    height:143%;
}

.midSection .description {
    width: 40%;
    padding-right: 170px;
    color: rgb(235, 235, 235);
}

.midSection .description .title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.midSection .description .subTitle {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.85;
    width: 65%;
}

.botSection {
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(208, 49%, 24%);
    font-weight: 600;
    padding:10rem 10rem;
    position:relative;
}

.botSection .card {
    width: 31%;
    align-self: flex-end;
    margin-top: 4rem;
}

.botSection .card .cardTitle {
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
}

.botSection .card .cardContent {
    color: hsl(207, 13%, 34%);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.85;
}

.botSection .illustration {
    position: absolute;
    height:80%;
    left:-215px;
}

.footer {
    background-color: hsl(240, 10%, 16%);
    min-height: 20vh;
    border-top-right-radius: 80px;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 4.5rem 8rem;
}

.footer .linksGroup {
    color: rgb(235, 235, 235);
    font-size: 0.8rem;
    line-height: 1.85;
}

.footer .linksTitle {
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.footer .link {
    color:rgb(197, 197, 197);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 2.3;
    cursor: pointer;
}
